import random
def number():
    comp=random.randint(0,10)
    user=int(input("\nEnter the that you want in Between 1 to 10"))
    print(f"Your Choice:{user}")
    print(f"Computer Choice:{comp}")
    if comp==user:
        print("YOU WON\ncongradulation")
    else:
        print("You Loose\nBetter luck in Next time")    

def sps():
    comp=random.randint(0,2)
    user=int(input("\nEnter Your Choice 0 for Stone,1 for paper,2 for scissor"))
    print(f"Your Choice:{user}")
    print(f"Computer Choice:{comp}")
    
    if comp==user:
        print("Its Draw")
    elif comp==0 and user==1:
        print("You Won\nCongradulation")
    elif comp==0 and  user==2:
        print("You Loose\nbetter luck in next Time")  

    elif comp==1 and  user==2:
        print("You Won\nCongradulation")  
    elif comp==1 and  user==0:
        print("You Loose\nbetter luck in next Time")      
    elif comp==2 and  user==0:
        print("You Loose\nbetter luck in next Time") 
    elif comp==2 and  user==1:
        print("You Won\nCongradulation")
    
a=int(input("ENTER YOUR CHOICE TO PLAY GAME\n1.Number Matching Game\n2.Stone Paper sessicor "))        
if a==1:
    number()
elif a==2:
    sps()    
